/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

* {
  box-sizing: border-box;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: Roboto, serif;
}

@media (max-width: 768px) {
  body {
    margin-left: 4%;
    margin-right: 4%;
  }
}

a {
  color: #57a3bb;
  text-decoration: none;
}

a:hover {
  color: blue;
  transition: all 0.3s ease-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}

#logo {
  font-family: serif;
  color: white;
  font-stretch: expanded;
  font-weight: 900;
  font-size: 2em;
  text-shadow:
    -1px -1px 0 #ff9289,
    1px -1px 0 #000,
    -1px 1px 0 #ff9289,
    1px 1px 0 #000;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.menu-item {
  margin-right: 4vw;
}

.orange {
  color: #ff9289;
}

.orange:hover {
  color: #ff5100;
  transition: all 0.3s ease-out;
}

.search {
  display: flex;
  align-items: stretch;
}

input,
select,
textarea {
  border: 1px gray solid;
  margin-right: 1vw;
  padding-left: 5px;
  border-radius: 3px;
  background: white;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .add-teacher-btn {
    margin: 1vh auto auto;
  }

  .menu {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .add-teacher-btn {
    margin: 0;
    padding: 1vh;
  }

  .menu {
    justify-content: space-between;
  }
}

.button {
  border-width: 1px;
  border-style: solid;
  border-color: #ff9289;
  color: #ff9289;
  background: white;
  padding: 1vh;
  font-weight: bold;
}

.button:hover {
  background: #ff5100;
  color: white;
  border-color: #ff5100;
  transition: all 0.3s ease-out;
}

.heading {
  margin-top: 1vh;
  font-size: 3.5vh;
}

.add-teacher-btn {
  margin-left: auto;
  font-size: 1em;
}

.break-line {
  margin: 4vh auto;
  width: 50%;
  border-top: 1px black solid;
}

table {
  width: 100%;
  text-align: left;
}

thead {
  border-bottom: 1px solid black;
}

td {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

tr:nth-child(even) {
  background: #f9f5f9;
}

tr:nth-child(odd) {
  background: #fff;
}

.pagination {
  margin: 3vh 0;
  display: flex;
}

.page-item {
  margin-right: 10px;
  margin-left: 10px;
}

.filter {
  text-align: left;
  margin: 2vh 0;
}

.filter-input {
  cursor: pointer;
  padding: 0 2vw;
  color: gray;
}

.filter-input + .filter-input::before {
  content: '';
  border: 1px #ccc dashed;
  position: relative;
  left: -2vw;
}

#top-teachers {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 5vw;
}

.teacher-card {
  position: relative;
}

.teacher-card > .avatar {
  object-fit: cover;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #ff9289;
  width: 150px;
}

.teacher-card > .avatar:hover {
  border-color: #ff594e;
  transition: all 0.3s ease-out;
}

.teacher-card > .name {
  font-size: 24px;
  font-weight: lighter;
  color: black;
  cursor: pointer;
}

.teacher-card > .country {
  margin-top: 1vh;
  font-size: 12px;
}

.teacher-card > .icon {
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 20px;
}

#favourite-teachers {
  flex: 1;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 5vw;
}

.favourite-teachers-wrap > .control {
  background: none;
  border: none;
}

.favourite-teachers-wrap {
  margin: auto -7%;
  display: flex;
  align-items: stretch;
}

@media (max-width: 768px) {
  #top-teachers,
  #favourite-teachers {
    grid-template-columns: repeat(auto-fill, 80px);
  }

  .teacher-card > .avatar {
    width: 75px;
  }

  .teacher-card > .name {
    font-size: 1.2em;
  }

  .teacher-card > .country {
    font-size: 0.8em;
  }

  .favourite-teachers-wrap > .control > img {
    width: 40px;
    height: 40px;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }

  .filter-input::before {
    display: none;
  }

  .heading {
    font-size: 3vh;
  }

  table {
    font-size: 0.8em;
  }
}

.description {
  text-align: center;
}

footer {
  margin: 2vh 0;
}

.hidden {
  visibility: hidden;
}

.popup {
  position: fixed;
  border: 1px black solid;
  padding: 2% 5%;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 7%);
  overflow-y: auto;
}

.add-teacher {
  text-align: left;
  width: 400px;
}

.add-teacher label {
  display: block;
}

.add-teacher .inline {
  width: 100%;
}

.add-teacher .inline label {
  display: inline;
}

.add-teacher fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.add-teacher input,
textarea,
select {
  width: 100%;
  height: 3vh;
}

.inline input {
  width: initial;
  height: initial;
}

.inline .color-picker {
  height: 2.5vh;
  width: 4vh;
}

.add-teacher fieldset > div {
  margin: 0.5vh 0;
}

.float-right {
  float: right;
}

.close-popup {
  background: none;
  border: none;
  position: absolute;
  top: 3vh;
  right: 3vh;
  font-size: 1em;
}

.submit {
  font-weight: bold;
  font-size: 2em;
  color: #ff594e;
  border-color: #ff594e;
}

#teacher-info {
  width: 75%;
}

.fav-btn {
  background: none;
  border: none;
}

.avatar-full {
  float: left;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin-right: 3vw;
}

.teacher-summary {
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map,
.comment {
  clear: both;
}

.teacher-name {
  display: inline-block;
  font-size: 3em;
}

@media (max-width: 768px) {
  .teacher-name {
    font-size: 1.5em;
  }

  .teacher-summary .icon {
    height: 1.5em;
  }
}

@media (max-width: 400px) {
  .teacher-summary {
    clear: both;
  }

  .close-popup {
    top: 1vh;
    right: 1vh;
  }
}

#teacher-info > :not(header) {
  text-align: left;
}

#teacher-info > * {
  margin-bottom: 3vh;
}

.teacher-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  margin: auto 0;
}

details > summary {
  list-style: none;
  text-decoration: #57a3bb dotted underline;
  color: #57a3bb;
  cursor: pointer;
}

#teacher-info #gmap_canvas {
  width: 100%;
  height: 25vh;
}

.email {
  color: #57a3bb;
}

table td,
table th {
  border: 1px solid silver;
}

.sortable {
  cursor: pointer;
}

.headerSortDown::after,
.headerSortUp::after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 8px solid transparent;
}

.headerSortDown::after {
  top: 10px;
  border-top-color: silver;
}

.headerSortUp::after {
  bottom: 15px;
  border-bottom-color: silver;
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}

.error {
  color: red;
}
